.h1tag3{
    text-align: center;
    padding-top: 0;
   font-size: 33px;
    letter-spacing: 0cm;
    margin-top: 0%;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}
body{
	background-image: url(../background2-bibo.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ptag3{
    text-align: center;
	font-size: 25px;
	color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 0%;
}


