.h1tag2{
    text-align: center;
    padding-top: 0;
   font-size: 33px;
    letter-spacing: 0cm;
    margin-top: 0%;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}
body{
	background-image: url(../background2-bibo.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.ptag2{
    text-align: center;
	font-size: 25px;
	color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 0%;
}
.buttonstyle1{
        background-color:#7abdcb;
        font-size: 26px;
        text-align: center;
    color: #004752;
    display: inline-block;
    padding :25px 25px;    
}
.contain{
    text-align: center;
    display: inline-block;
    padding: 3px 3px;  
}
#container{
    text-align: center; 
}